
@font-face {
  font-family: 'doOmzday';
  src: url('doOmzday.eot?#iefix') format('embedded-opentype'),  url('doOmzday.woff') format('woff'), url('doOmzday.ttf')  format('truetype'), url('doOmzday.svg#doOmzday') format('svg');
  font-weight: normal;
  font-style: normal;
}
